{% extends 'base.html.twig' %}

{% block title %}Oczekujące zgłoszenia{% endblock %}

{% block body %}
<div class="container">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
        <li class="breadcrumb-item active"><a href="#">Filmy</a></li>
    </ol>
    <div class="d-flex flex-row justify-content-between mb-3">
        <h1>Oczekujące zgłoszenia</h1>
        <div class="btn-group mb-3" role="group">
            <a href="#" class="btn btn-primary btn-md disabled"/>Filtruj</a>
        </div>
    </div>
    {% if productions %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Gatunek</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for production in productions %}
                <tr>
                    <th scope="row">{{ production.title }}</th>
                    <td>{% for genre in production.idgenre %}{{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    <td>
                        <div class="btn-group" role="group">
                            {% if production.type.idproductiontype == 0 %}
                            <a href="/movies/show/{{ production.idproduction }}" class="btn btn-primary btn-sm mr-1"/>Szczegóły</a>
                            <a href="/movies/accept/{{ production.idproduction }}" class="btn btn-success btn-sm mr-1" onclick="return confirm('Jesteś pewien?')"/>Zatwierdź</a>
                            <a href="/movies/delete/{{ production.idproduction }}" class="btn btn-danger btn-sm" onclick="return confirm('Jesteś pewien?')"/>Odrzuć</a>
                            {% elseif production.type.idproductiontype == 1 %}
                            <a href="/series/show/{{ production.idproduction }}" class="btn btn-primary btn-sm mr-1"/>Szczegóły</a>
                            <a href="/series/accept/{{ production.idproduction }}" class="btn btn-success btn-sm mr-1" onclick="return confirm('Jesteś pewien?')"/>Zatwierdź</a>
                            <a href="/series/delete/{{ production.idproduction }}" class="btn btn-danger btn-sm" onclick="return confirm('Jesteś pewien?')"/>Odrzuć</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}