{% extends 'base.html.twig' %}

{% block title %}Edytuj serial{% endblock %}

{% block body %}
<div class="container">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="#">Seriale</a></li>
        <li class="breadcrumb-item active"><a href="#">Edycja</a></li>
    </ol>
    <h1 class="mb-3">Edytuj serial</h1>


    {{ form_start(form) }}
        {{ form_row(form.title) }}

        <div class="well" id="genre_list" data-prototype="{{ form_widget(form.idgenre.vars.prototype)|e('html_attr') }}">
            {{ form_label(form.idgenre) }}
            {% for row in form.idgenre %}
                <div class="genre-row">
                    {{ form_widget(row) }}
                </div>
            {% endfor %}
        </div>

        {{ form_row(form.description) }}
        {{ form_row(form.save) }}
        {{ form_row(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}