{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    <div class="container">
        <ol class="breadcrumb p-0">
            <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="#">Filmy</a></li>
            <li class="breadcrumb-item active"><a href="#">{{ movie.title }}</a></li>
        </ol>
        {% if movie %}
            <h1>{{ movie.title }}</h1>
            <h4>Gatunek: {% for genre in movie.idgenre %}{{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
            <p>{{ movie.description }}</p>
            <p><small>Boxoffice: {{ movie.boxoffice }}</small></p>

            <hr>
            
            <div class="d-flex flex-row justify-content-between">
                <a href="/movies">Powrót</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <form name="ratingForm" class="form-group d-flex flex-row justify-content-between">
                    <p class="mr-2">Ocena:</p>
                    <div class="custom-control custom-radio mr-2">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="customRadio1">1</label>
                    </div>
                    <div class="custom-control custom-radio mr-2">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="customRadio2">2</label>
                    </div>
                    <div class="custom-control custom-radio mr-2">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="3">
                        <label class="custom-control-label" for="customRadio3">3</label>
                    </div>
                    <div class="custom-control custom-radio mr-2">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" value="4">
                        <label class="custom-control-label" for="customRadio4">4</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input" value="5">
                        <label class="custom-control-label" for="customRadio5">5</label>
                    </div>
                </form>
                {% endif %}
            </div>
        {% else %}
        <h1>Serial nieistnieje</h1>
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Nie tego tutaj szukasz.. *przesuwa otwartą dłoń przed twoją twarzą*</strong></br>
            <a href="/movies" class="alert-link">Wróć do przeglądania seriali</a> i spróbuj jeszcze raz.
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <script>
        const data = {
            ratingValue:null,
            productionID:{{ movie.idproduction }},
            userID:{{ app.user.id }}
        }
    </script>
    <script src="{{ asset('js/rating.js') }}"></script>
    {% endif %}
{% endblock %}