<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-block mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">BAFIS</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Filmy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/series">Seriale</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Panel Administratora
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/pendingCreations">Lista oczekujących</a>
                        <a class="dropdown-item" href="/users">Użytkownicy</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile">Profil</a>
                        <a class="dropdown-item" href="/logout">Wyloguj</a>
                    </div>
                  </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Zarejestruj</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {# {% if filter is defined %} #}
    <div class="container mt-3">
        <form action="{{ path('search') }}" method="post" name="searchForm" class="form-inline w-100 mx-auto">
            <input type="text" id="search_input" name="searchInput" class="form-control w-75" placeholder="Czego szukasz ?" />
            <button type="submit" id="search_submit" name="searchSubmit" class="btn btn-secondary w-25">Wyszukaj</button>
        </form>

        {# {{ form_start(filter, { 'attr': {'class': 'form-inline w-100 mx-auto'} }) }}
        {{ form_widget(filter.title, { 'attr': {'class': 'form-control w-75', 'placeholder': 'Czego szukasz ?'} }) }}
        {{ form_widget(filter.save, { 'attr': {'class': 'btn btn-secondary w-25'} }) }}
        {{ form_end(filter) }} #}
    </div>
    {# {% endif %} #}
</nav>